/* TO DO: Ustawic rozmiar czcionki dla mniejszych urzadzen zeby nie bylo
overflow przez przyciski */

table,
td
{
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 0.7em;
}

table {
    width: 70%;
    margin: auto;
}

.appointments {
    height: 100%;
    overflow-y: auto;
    background-color: #e8e6e6;
}

.appointment {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 2%;
    overflow-y: auto;
}

.filter {
    width: 100%;
    padding: 1em;
}

@media (max-device-width: 800px) {
    input, label, button {
        /* width: 600px; */
        font-size: 2.2rem;
        margin-left: 0.5rem;
    }

    table {
        font-size: 2.2rem;
    }

    li {
        font-size: 2.2rem;
    }
}

@media (max-device-width: 1140px) {
    .button {
        font-size: 0.7em;
    }
}