*:focus {
    outline: none !important;
    border: 1px solid rgb(58, 81, 250);
    box-shadow: 0 0 10px #719ECE;
}

.contact_container {
    position: relative;
    height: 100%;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F1F9FF;
    box-shadow: 10px 10px 6px #00000029;
    border-radius: 21px;
    padding: 25px;
    width: 50%;
}

input {
    width: 60%;
}

label,
input,
textarea {
    font-size: 1.2em;
    width: 60%;
    color: #333;
}

textarea {
    width: 100% !important;
    height: 500px;
}

button {
    width: 30%;
    padding: 0.2em;
    font-size: 1.2em;
    border-radius: 15px;
    outline: none;
    margin-top: 10px;
}

.contact_header {
    background-color: #afd9f5;
    padding: 1rem;
}

.msg_date {
    margin-left: 35vw;
}

.msg_container {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.name {
    font-weight: bold;
    color:rgb(58, 81, 250);
    width: 20vw;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subject {
    width: 30vw;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subject_href {
    text-decoration: none;
    color: black;
}

.delete_msg {
    height: 1.3rem;
    /* margin-left: 0.7rem; */
    color: red;
}

.msg_delete {
    margin-top: -0.1rem;
    margin-left: 2rem;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: black;
}

@media (max-device-width: 550px) {
    .name,
    .subject {
        font-size: 2.2rem;
    }

    .subject {
        width: 60vw;
    }

    .msg_date {
        margin-left: 20vw;
        font-size: 1.5rem;
    }

    .general_button {
        font-size: 2rem !important;
    }
}

@media (max-device-width: 650px) {
    form {
        font-size: 2em;
    }

    .general_button {
        font-size: 0.8em;
    }
}

@media (max-device-width: 800px) {
    form {
        width: 100%;
    }

    .mobile-nav-toggle {
        top: 1rem !important;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        top: 1.7rem !important;
    }
}