form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background-color: #F1F9FF;
    padding: 20px;
    border-radius: 21px;
}

.form-group {
    width: 70%;
    margin: 0 auto;
    text-align: left;
}

.form-control {
    font-size: 1.2rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.btn {
    background-color: #1846eb;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 70%;
    margin: 0 auto;
    display: block;
    font-size: 1.2em;
}

.area {
    height: 15vh;
}

@media (max-device-width: 400px) {
    form {
        font-size: 2rem !important;
    }

    .form-control {
        font-size: 2rem !important;
    }
}

@media (max-device-width: 800px) {
    form {
        width: 100%;
        font-size: 1.5rem;
    }

    .form-control {
        font-size: 1.5rem;
    }
}