* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#large_logo {
    text-align: left;
    font: normal normal normal 6em Gadugi;
    letter-spacing: 0px;
    color: #FFFFFF;
    width: 50%;
    text-align: center;
}

.small_logo {
    font: normal normal normal 4vh Gadugi;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.container {
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #2191F3 0%, #11237A 100%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-container {
    text-align: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50%;
    margin-right: 2em;
}

/* .form-container {
    margin: auto;
    border: 3px solid blue;
} */

form {
    /* height: 30vh; */
    padding: 2em;

    background: #FFFFFFE0 0% 0% no-repeat padding-box;
    box-shadow: 10px 10px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 21px;
}

.login_button {
    background: transparent linear-gradient(180deg, #2191F3 0%, #224470 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 46px;
    width: 30%;
    border: none;
    color: white;
    margin: 1em;
    color: white;
    line-height: 2.5em;
}

.login_input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #707070;
    padding: 1em;
    margin: 1em;
    width: 85%;
}

.buttons_text {
    text-align: left;
    font: normal normal normal 20px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
}

@media (min-width: 40em) {
    .login-container {
        margin-left: 2em;
    }
}

@media only screen and (max-device-width: 600px) {
    .container {
        flex-direction: column;
    }

    * {
        font-size: 36px;
    }

    .login-container,
    .logo-container 
    #logo {
        width: 100%;
    }

    .logo-container {
        text-align: center;
    }

    #logo {
        font-size: 4em;
        margin: 0.5em;
    }

    .buttons_text {
        font: normal normal normal 0.75em Segoe UI;
    }

    form, input {
        width: 80%;
    }

    form {
        margin: 2em auto;
    }
}