* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* Unikniecie overflow wynikajacego ze schowania menu */
    overflow-x: hidden;
}

#large_logo {
    text-align: left;
    font: normal normal normal 6em Gadugi;
    letter-spacing: 0px;
    color: #FFFFFF;
    width: 50%;
    text-align: center;
}

.small_logo {
    font: normal normal normal 3vw Gadugi;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.text_header {
    font: normal normal normal 4vh Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.base_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.primary-navigation {
    width: 23vw;
    height: 100%;
    background: transparent linear-gradient(180deg, #1E7ADA 0%, #0F3D6D 100%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    overflow-y: auto;
    overflow: hidden;
}

.primary-navigation .small_logo {
    margin: 0.5em auto;
}

a {
    text-decoration: none;
    display: inline-block;
    line-height: 3em;
}

ul {
    list-style-type: none;
    color: white;
    font: normal normal normal 20px/30px Gadugi;
    height: 100%;
    position: relative;
}

li {
    margin-bottom: 1em;
}

#discounts_icon {
    font-size: 2.8em;
    display: inline-block;
    vertical-align: -5px;
}

li i {
    font-size: 3vw;
    display: inline-block;
    vertical-align: -5px;
    width: 10%;
}

#settings {
    position: absolute;
    bottom: 4.6em;
    width: 90%;
}

li:last-child {
    position: absolute;
    bottom: 0;
    width: 90%;
}


.button {
    cursor: pointer;
    border: 1px solid #FFFFFF;
    border-radius: 1.3em;
    color: white;
    letter-spacing: 0.6px;
    margin-left: 10%;
    color: white;
    padding: 0.2em;
    width: 70%;
    text-align: center;
    display: inline-block;
    vertical-align: 5px;
}

button {
    cursor: pointer;
}

main {
    width: 76vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
}

.content_header {
    background: #1E7ADA 0% 0% no-repeat padding-box;
    text-align: center;
    width: 100%;
    padding-top: 1.4em;
    padding-bottom: 1.4em;
}

.text_header {
    font-size: 3.7vh;
}

.section_header {
    background-color: #afd9f5;
    padding: 1rem;
}

.general_button {
    margin-left: 0.4rem;
    align-items: center;
    appearance: none;
    background-color: #3EB2FD;
    background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 100px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    font-family: CircularStd, sans-serif;
    font-size: 1rem;
    height: auto;
    justify-content: center;
    line-height: 1.5;
    padding: 6px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s, background-position .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

.general_button:active,
.general_button:focus {
    outline: none;
}

.general_button:hover {
    background-position: -20px -20px;
}

.general_button:focus:not(:active) {
    box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}

.card {
    position: relative;
    margin: auto;
    width: 60%;
    box-shadow: 10px 10px 6px #00000029;
    background-color: #3EB2FD;
    background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
    font-family: CircularStd, sans-serif;
    border-radius: 10px;
    color: white;
}

.card_entry {
    padding: 2%;
}

.card_close {
    position: absolute;
    top: 0.2em;
    right: 1em;
    font-size: 1.5em;
    font-weight: bold;
    color: red;
    cursor: pointer;
}

.column_content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    background-color: #c8ddf7;
}

@media (max-device-width: 650px) {
    /* #settings {
        bottom: 7em;
    } */

    /* li {
        margin-top: 8vw;
    } */
    .general_button {
        font-size: 2rem;
    }
    .small_logo {
        font-size: 4vw;
    }
}

@media (max-device-width: 800px) {
    .small_logo {
        font-size: 4vw;
    }

    .text_header {
        font-size: 4vw;
    }

    .primary-navigation {
        position: fixed;
        width: 40%;
        padding: 0.3em;
        z-index: 9999;
        
        transform: translateX(-100%);
        transition: transform 350ms ease-out;
    }

    /* jezeli data-visible jest ustawione na 
    true to wysun menu */
    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        position: absolute;
        background-color: transparent;
        background-image: url('../img/menu.svg');
        background-repeat: no-repeat;
        width: 2.3rem;
        aspect-ratio: 1;
        z-index: 9999;
        border: 0;
        top: 1.5rem;
        left: 2rem;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url('../img/icon-close.svg');
        top: 2.2rem;
        color: white;
    }
}

@media (max-device-width: 1110px) {
    #settings,
    li:last-child {
        width: 83%;
    }
}

@media (min-device-width: 801px) {
    .mobile-nav-toggle {
        display: none;
    }
}