* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#large_logo {
    text-align: left;
    font: normal normal normal 6em Gadugi;
    letter-spacing: 0px;
    color: #FFFFFF;
    width: 50%;
    text-align: center;
}

.small_logo {
    font: normal normal normal 4vh Gadugi;
    letter-spacing: 0px;
    color: #FFFFFF;
}


/* .content_header {
    background: #1E7ADA 0% 0% no-repeat padding-box;
    text-align: center;
} */

.text_header {
    font: normal normal normal 4vh Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.base_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

nav {
    width: 24vw;
    height: 100%;
    background: transparent linear-gradient(180deg, #1E7ADA 0%, #0F3D6D 100%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

nav .small_logo {
    margin: 0.5em auto;
}

a {
    text-decoration: none;
    display: inline-block;
    line-height: 3em;
}

ul {
    list-style-type: none;
    color: white;
    font: normal normal normal 20px/30px Gadugi;
    height: 100%;
    position: relative;
}

li {
    margin-bottom: 1em;
}

#discounts_icon {
    font-size: 2.8em;
    display: inline-block;
    vertical-align: -5px;
}

li i {
    font-size: 2.5em;
    display: inline-block;
    vertical-align: -5px;
    width: 1em;
}

#settings {
    position: absolute;
    bottom: 4.6em;
    width: 90%;
}

li:last-child {
    position: absolute;
    bottom: 0;
    width: 90%;
}


.button {
    border: 1px solid #FFFFFF;
    border-radius: 1.3em;
    color: white;
    letter-spacing: 0.6px;
    margin-left: 1em;
    color: white;
    padding: 0.2em;
    width: 75%;
    text-align: center;
    display: inline-block;
    vertical-align: 5px;
}

main {
    width: 76vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
}

.content_header {
    background: #1E7ADA 0% 0% no-repeat padding-box;
    text-align: center;
    width: 100%;
    padding-top: 1.4em;
    padding-bottom: 1.4em;
}

.text_header {
    font-size: 3.7vh;
}