* {
    box-sizing: border-box;
}

.offers {
    height: 100%;
    overflow-y: auto;
}

.offer {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.offer_img_container {
    width: 45%;
    height: 30vh;
}

.offer_content {
    background: #F1F9FF 0% 0% no-repeat padding-box;
    width: 60%;
    height: 30vh;
    overflow-y: auto;
}

.offer_content_header {
    margin-top: 3em;
    margin-left: 2.7em;
    width: 90%;
}

.offer_name {
    color: #7F7F7F;
    font-weight: bold;
    font-family: 'Arial';
    font-size: 1vw;
}

.offer_content_internal {
    margin-top: 2em;
    margin-left: 2.7em;
    width: 85%;
    text-align: justify;
}

.offer_short_desc {
    color: #2699FB;
    font-size: 0.8vw;
}

img {
    height: 100%;
}

.read_more {
    text-align: center;
    background: #2699FB 0% 0% no-repeat padding-box;
    border-radius: 4px;
    margin-top: 2.3em;
    margin-left: 70%;
    color: white;
    padding: 0.7em;
    font-size: 0.7vw;
    border: none;
}

@media (max-device-width: 800px) {
    main {
        width: 100%;
    }

    .offer_name {
        font-size: 2rem;
    }

    .read_more {
        font-size: 1rem;
    }

    .offer {
        flex-direction: column;
        height: 70% !important;
        /* border: 3px solid red; */
    }

    .offer_img_container {
        width: 80%;
        height: auto;
        margin: 0 auto;
    }
    
    .offer_img {
        width: 100%;
        height: 100%;
    }

    .offer_short_desc {
        font-size: 2.7vw !important;
    }

    .offer_content {
        width: 80%;
        margin: 0 auto;
        padding: 1.5rem;
        /* border: 3px solid red; */
    }
}

@media (max-device-width: 1110px) {
    .offer_short_desc {
        font-size: 1.3vw;
    }
}