* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Segoe UI';
}

#logo {
    text-align: left;
    font: normal normal normal 6em Gadugi;
    letter-spacing: 0px;
    color: #FFFFFF;
    width: 50%;
    text-align: center;
}

.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo_container {
    display: flex;
    align-items: center;

    background: transparent linear-gradient(180deg, #2191F3 0%, #0F3E6E 100%) 0% 0% no-repeat padding-box;
    height: 100vh;
    width: 50%;
    text-align: center;
}

.logo_container_internal {
    text-align: center;
    width: 100%;
}

#logo {
    font: normal normal normal 6em Gadugi;
    color: #FFFFFF;
    width: 100%;
    margin-left: -0.36em;
}

.form_container {
    max-height: 100vh;
    width: 50%;
    align-items: center;
}

.form_header {
    margin-top: 2vh;
    padding: 20px;
}

.registration {
    margin-top: -2vh;
}

.form_header_txt {
    font: normal normal bold 50px/67px Segoe UI;
    letter-spacing: 0px;
    color: #1A70BF;
}

input {
    display: block;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #707070;
    width: 70%;
    padding: 1vh 1.6vh;
    margin: 5vh;
}

*:focus {
    outline: none !important;
    border: 1px solid rgb(58, 81, 250);
    box-shadow: 0 0 10px #719ECE;
}

input,
input::placeholder {
    font-size: 1.23em;
}

.sign_up_button {
    width: 27vh;
    height: 6vh;
    background: transparent linear-gradient(180deg, #2191F3 0%, #11365A 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 47px;
    margin-left: 5vh;
    margin-top: -3vh;
}

#sign_up_text {
    color: white;
    font-size: 2em;
}

.sign_up_footer {
    margin-top: 3vh;
    margin-left: 5vh;
    font-weight: bold;
}

.sign_up_footer_txt {
    font-weight: bold;
    color: #7B7B7B;
    font-size: 1.3em;
}

a {
    font-weight: normal;
    text-decoration: none;
    color: #1E7ED4;
}

.logo_mobile {
    text-align: center;
    position: relative;
}

.logo_mobile i {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 2em;
    font-size: 1.5em;
    color: white;
}

.logo_mobile span {
    font-family: 'Arial';
    font-size: 1.2em;
    color: white;
}

@media (min-width: 1027px) {
    .logo_mobile {
        display: none;
    }
}

@media (max-width: 1026px) {
   .container {
        display: flex;
        flex-direction: column;
   }

   .logo_container {
    width: 100%;
    height: 7%;
   }

   .form_container {
    width: 100%;
    height: 93%;
    text-align: center;
    align-items: center;
   }

   #logo {
    display: none;
   }

   .form_header {
    text-align: center;
   }

   .registration {
    width: 100%;
   }

   input {
    padding: 0.7vw 1.2vw;
    margin-left: 15%;
   }

   .sign_up_footer {
    margin-bottom: 1em;
   }
}

@media (max-width: 513px) {
    .form_header_txt {
        font-size: 2em;
    }

    .sign_up_button {
        width: 20vh;
        height: 5vh;
    }

    #sign_up_text {
        font-size: 1.5em;
    }

    .sign_up_footer_txt {
        font-size: 1em;
    }
}


