* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 3px solid red; */
}

.logo_container {
    background: transparent linear-gradient(180deg, #2191F3 0%, #0F3E6E 100%) 0% 0% no-repeat padding-box;
    height: 100vh;
    width: 50%;
}

.form_container {
    height: 100vh;
    align-items: center;
}

.registration {
    border: 3px solid red;
    text-align: center;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #707070;
    width: 50%;
    margin: 2em auto;
}