.reservations_container {
    height: 100%;
    overflow-y: auto;
}

.reservation {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 2%;
    /* overflow-y: auto; */
}

@media (max-device-width: 650px) {
    .card {
        font-size: 2rem;
    }
}
