.reservations_container {
    height: 100%;
    overflow-y: auto;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin: auto;
}

td {
    border: 1px solid black;
    text-align: left;
    padding: 0.7em;
}

.reservation {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 2%;
    /* overflow-y: auto; */
}

@media (max-device-width: 650px) {
    table {
        font-size: 2rem;
    }
}
